.container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.705);
}
.wrap-container{
    width: 40vw;
    background-color: white;
    margin: auto;
    border-radius: 0.25em;
}
.options ul{
    display: flex;
    list-style: none;
}
.options ul li{
    width: 50%;
    text-align: center;
    padding: 0;
}
.options ul li button{
    display: block;
    width: 100%;
    height: 4.375rem;
    background: #FFF;
    color: #505260;
    border-radius: 0 0.25em 0 0;
}
.loginbtn:before{
    background: url(../../../../../assets/images/login.png) no-repeat center center;
}
.registerbtn:before{
    background: url(../../../../../assets/images/user.png) no-repeat center center;
}
.loginbtn:before,
.registerbtn:before{
    background-size: 100%;
    line-height: 1;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 0.1875rem;
    height: 1.5rem;
    width: 1.375rem;
}
.active{
    background-color: #d2d8d8!important;
    color: #809191!important;
}
.closebtn{
    width: 40vw;
    margin: auto;
    text-align: right;
}
.closebtn button{
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.closebtn button i{
    color: white;
    font-size: 1.5625em;
    padding: 0.625rem;
}
.forgetlink,.loginlink{
    width: 40vw;
    margin: auto;
    color: white; 
}
.forgetlink button,.loginlink button{
    display: block;
    margin: auto;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;

}
@media screen and (max-width: 500px){
    .wrap-container,.closebtn,.forgetlink,.loginlink{
        width: 100%;
    }   
}
@media screen and (min-width:500px) and (max-width: 700px){
    .wrap-container,.closebtn,.forgetlink,.loginlink{
        width: 80%;
    }   
}
@media screen and (min-width:700px) and (max-width: 1000px){
    .wrap-container,.closebtn,.forgetlink,.loginlink{
        width: 60%;
    }   
}