<nav>
    <div class="logo">
        <label for="closebtn">
            <i class="fa-solid fa-close"></i>
        </label>
        <input type="checkbox" id="closebtn"/>
        <img src="../../../../../assets/images/logo.webp"/>
    </div>
    <ul>
        <li class=""   routerLink="profile" routerLinkActive="active">
          <i class="fa-solid fa-user"></i>
            Profile
        </li>
        <li class=""   routerLink="schedule" routerLinkActive="active">
          <i class="fa-solid fa-calendar-days"></i>
            Schedule
        </li>
        <li class=""  routerLink="examresults" routerLinkActive="active">
          <i class="fa-solid fa-circle-check"></i>
            Exam Results
        </li>
        <li class=""  routerLink="materials" routerLinkActive="active">
          <i class="fa-solid fa-video"></i>
            Materials
        </li>

    </ul>
</nav>
