
<div class="container" >
  <table>
    <thead>
      <th colspan="6">

        July schedule
      </th>
    </thead>
    <thead>
      <th>
        <span>Hour</span>
        <span>/Day</span>
      </th>
      <th>Sun 1/7</th>
      <th>Mon 2/7</th>
      <th>tue 3/7</th>
      <th>wed 4/7</th>
      <th>thu 5/7</th>
    </thead>
    <tbody>
      <td>8:00AM</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
    </tbody>
    <tbody>
      <td>9:00AM</td>

      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
    </tbody>
    <tbody>
      <td>10:00AM</td>

      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
    </tbody>
    <tbody>
      <td>11:00AM</td>

      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
    </tbody>
    <tbody>
      <td>12:00AM</td>

      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
    </tbody>
    <tbody>
      <td>1:00PM</td>

      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
      <td>HTML</td>
    </tbody>
  </table>
</div>
